@page "/{companySlug}/setup"
@inject HttpClient client
@layout SetupLayout

<h3>Setup | @companySlug</h3>





@code {
    [Parameter]
    public string companySlug { get ; set; }

    private Company Company { get; set; }

    protected override async Task OnInitializedAsync() {
        
        Company = await client.GetFromJsonAsync<Company>($"api/company/s?slug={companySlug}");

        CompanyFilter.CompanyId = Company.CompanyId;
        CompanyFilter.Slug = Company.Slug;

    }
}