@page "/{companySlug}/product"
@inject HttpClient client
@using ServiceManager.Client.Shared.PIM
@layout PIMLayout


<a href="@companySlug/product/create" class="btn btn-primary">Create</a>
<br />
@if (products == null)
{
    <text>Loading...</text>
}
else if (products.Length == 0)
{
    <text>No Records Found</text>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product No</th>
                <th>Description</th>
                @* <th></th> *@
            </tr>
        </thead>
        <tbody>
            @foreach (Product product in products)
            {
                <tr>
                    <td>@product.ProductNo</td>
                    <td>@product.Description</td>
                    <td>
                        <a class="btn btn-success" href="@companySlug/product/@product.ProductNo/variant">Variants</a>
                        <a class="btn btn-success" href="@companySlug/product/@product.ProductNo/variant/add">Add Variant</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>

}



@code {
    [Parameter] public string companySlug { get; set; }
    private Product[] products { get; set; }
    private Company Company { get; set; }

    protected override async Task OnInitializedAsync() {
        
        Company = await client.GetFromJsonAsync<Company>($"api/company/s?slug={companySlug}");

        CompanyFilter.CompanyId = Company.CompanyId;
        CompanyFilter.Slug = Company.Slug;

        products = await client.GetFromJsonAsync<Product[]>($"api/product?companyId={Company.CompanyId}");
    }

}