@page "/{companySlug}/product/{productNo}/variant/{variantNo}/price"
@inject HttpClient client
@using ServiceManager.Client.Shared.PIM
@layout PIMLayout

<a href="@companySlug/product/@productNo/variant/@variantNo/price/create" class="btn btn-primary mb-2">Create</a>
<br />
@if (Product == null || Variant == null || ProductPrices == null || Product == null || Variant == null)
{
    <text>Loading...</text>
}
else if (ProductPrices.Length == 0 || Products.Length == 0 || Variants.Length == 0 )
{
    <text>No Records Found</text>
}
else
{
    <div class="table-responsive shadow p-2 rounded bg-white">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Price Date</th>
                <th>Price</th>
                <th>Currency</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (ProductPrice price in ProductPrices)
            {
                <tr>
                    <td>@price.PriceDate</td>
                    <td>@price.Price</td>
                    <td>@price.Currency</td>
                    <td>
                        <div class="btn-group">
                          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Action
                          </button>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item disabled" href="">Edit</a></li>                                                    
                            <li><a class="dropdown-item disabled" href="#">Details</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item disabled" >Delete</a></li>
                          </ul>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
}


@code {
    [Parameter] public string companySlug { get; set; }
    [Parameter] public string productNo { get; set; }
    [Parameter] public string variantNo { get; set; }

    private Company Company { get; set; }
    private ProductPrice[] ProductPrices { get; set; }
    private Product[] Products { get; set; }
    private Product Product { get; set; }

    private Variant[] Variants { get; set; }
    private Variant Variant { get; set; }

    protected override async Task OnInitializedAsync() {
        
        Company = await client.GetFromJsonAsync<Company>($"api/company/s?slug={companySlug}");
        CompanyFilter.CompanyId = Company.CompanyId;
        CompanyFilter.Slug = Company.Slug;

        Products = await client.GetFromJsonAsync<Product[]>($"api/product?companyId={Company.CompanyId}");
        Product = Products.FirstOrDefault(p => p.ProductNo == productNo);

        Variants = await client.GetFromJsonAsync<Variant[]>($"api/variant/{Product.ProductId}");
        Variant = Variants.FirstOrDefault(v => v.ProductId == Product.ProductId && v.VariantNo == variantNo);
        
        ProductPrices = await client.GetFromJsonAsync<ProductPrice[]>($"api/ProductPrice/{Variant.VariantId}");
            
    }

}