@page "/company/create"
@inject HttpClient client
@using Microsoft.AspNetCore.Components.Authorization
@using Models
@inject NavigationManager NavigationManager

<h3>Create a new Company</h3>

<CompanyForm ButtonText="Create" company="@company" OnValidSubmit="@CreateCompany" />

@code {
    Company company = new Company();
    private Company[] Companies;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private string username;

    private string userId;

    private ServiceManagerUser user;

    protected override async Task OnInitializedAsync() {
        Companies = await client.GetFromJsonAsync<Company[]>("api/company");
    }


    async Task CreateCompany()
    {
        await client.PostAsJsonAsync("api/company", company);
        NavigationManager.NavigateTo("/");
    }

    private async Task<string> GetUserName()
        {
            var authState = await authenticationStateTask;
            var user = authState.User;

            if (user.Identity.IsAuthenticated)
            {
                username = user.Identity.Name;
            }
            return username;

        }

        private async Task<string> GetUserId()
        {
            string api = "api/user/" + await GetUserName();
            user = await client.GetFromJsonAsync<ServiceManagerUser>(api);
            userId = user.Id;
            return userId;
        }
}